t/test-results/*
graudit.1
graudit.7
signatures/android.db
signatures/asp.db
signatures/c.db
signatures/default.db
signatures/dotnet.db
signatures/exec.db
signatures/fruit.db
signatures/go.db
signatures/java.db
signatures/js.db
signatures/nim.db
signatures/perl.db
signatures/php.db
signatures/python.db
signatures/scala.db
signatures/sql.db
signatures/xss.db
